.mobile-search{
  padding-top:20px;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{
  background-color: #555555 !important;
}
.fixedSizeimg{
  height: 242px;
  width:252px;
}
.fixedSizeCatimg{
    height: 242px;
    width:270px;
    cursor: pointer;
  }
.home-carousel .dark-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: gray;
    opacity: 0.9;
    filter: alpha(opacity=90);
}
.home-carousel .owl-carousel {
    padding-top: 20px;
    padding-bottom: 10px;
}
