.mobile-search{
  padding-top:20px;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{
  background-color: #555555 !important;
}
.fixedSizeimg{
  height: 242px;
  width:252px;
}
.fixedSizeCatimg{
    height: 242px;
    width:270px;
    cursor: pointer;
  }
