          <div class="container">
              <div class="row">
                  <div class="col-md-12">
                      <ul class="breadcrumb" style="text-align:left;">
                          <li><a ng-click="goHomepage()">Home</a>
                          </li>
                          <li>All Products</li>
                      </ul>

                  </div>
              </div>
          </div>
<div id="content">
            <div class="container" ng-if="!!selectedProductData">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row" id="productMain">
                            <div class="col-sm-6">
                                <div id="mainImage">
                                    <img ng-src="{{selectedProductData.image}}"  alt="" class="img-responsive fixheightProd">
                                </div>

                                <div class="ribbon sale">
                                    <div class="theribbon">SALE</div>
                                    <div class="ribbon-background"></div>
                                </div>
                                <!-- /.ribbon -->

                                <div class="ribbon new">
                                    <div class="theribbon">NEW</div>
                                    <div class="ribbon-background"></div>
                                </div>
                                <!-- /.ribbon -->

                            </div>
                            <div class="col-sm-6">
                                <div class="box box_top">
                                    <form>
                                        <h4>{{selectedProductData.name}}</h4>
                                        <ul  ng-repeat = "product in selectedProductData.product_specification" >
                                          <li>{{product.name}} : {{product.value}}</li>
                                          </ul>
                                        <div class="price_line">Price :
                                        <div class="fa fa-inr"> {{selectedProductData.price}}</div></div>
                                        <div class="delivery" ng-if="isSelectLocation">Delivery :<div>{{getuserLocation.city}},{{getuserLocation.state}}-{{getuserLocation.postalCode}}</div><a ng-click="addPinCodeShow()">Change</a>
                                        </div>
                                        <div class="delivery" ng-if="isEnterPin">Delivery :<div><input type="number" ng-model="pincode" class="zipCode_input"></input>
                                                <button type="submit" class="btn btn-sm btn-template-primary" ng-click="addPinCode(pincode)" ><i class="fa fa-bolt" aria-hidden="true"></i>Change Address</button>
                                            </div>
                                        </div>
                                        <div class="sizes">
                                            <div ng-if="selectedProductData.size.length > 1">Available sizes :</div>
                                            <label class="size_align" for="size_s" ng-repeat="size in selectedProductData.size" ng-if="selectedProductData.size.length > 1">
                                                <a >{{size}}</a>
                                                <input type="radio" id="size" name="size" value="{{size}}" class="size-input">
                                            </label>
                                        </div>

                                        <!-- <button type="button" class="btn btn-lg btn-template-primary">Primary colour button</button> -->
                                          <div class="buttons_addbuy">
                                            <button type="submit" class="btn btn-lg btn-template-primary button_add" ng-click="addToCart(selectedProductData)"><i class="fa fa-shopping-cart"></i> Add to cart</button>
                                            <!-- <button type="submit" class="btn btn-template-main" ng-click="addToCart(selectedProductData)"><i class="fa fa-shopping-cart"></i> Add to cart</button> -->
                                            <button type="submit" class="btn btn-lg btn-template-primary button_big" ng-click="goForCheckout(selectedProductData)"><i class="fa fa-bolt" aria-hidden="true"></i> Buy Now</button>
                                            <button type="submit" class="btn btn-default" ng-if="isFavourite"  ng-click="deletefavourite(selectedProductData.$id)" style="color: red;"><i class="fa fa-heart-o"></i>
                                            </button>
                                            <button type="submit" class="btn btn-default" ng-if="!isFavourite" ng-click="setFavourite(selectedProductData)"  title="Add to wishlist"><i class="fa fa-heart-o"></i>
                                            </button>
                                          </div>


                                    </form>
                                </div>
                                    <div class="row" id="thumbs">
                                      <div class="col-xs-4" ng-repeat = "productimage in selectedProductData.images" >
                                            <a ng-href="{{productimage}}" class="thumb">
                                            <img ng-src="{{productimage}}" alt="" class="img-responsive fixedheightThumb">
                                        </a>
                                      </div>
                                    </div>

                            </div>

                        </div>


                        <div class="box" id="details">
                            <p>
                                <h4>Product details</h4>
                                <p>{{selectedProductData.description}} </p>
                                <ul ng-repeat = "product in selectedProductData.product_specification " >
                                  <li>{{product.name}} : {{product.value}}</li>
                                  </ul>
                        </div>

                        <div class="box social" id="product-social">
                            <h4>Show it to your friends</h4>
                            <p>
                                <a href="#" class="external facebook" data-animate-hover="pulse"><i class="fa fa-facebook"></i></a>
                                <a href="#" class="external gplus" data-animate-hover="pulse"><i class="fa fa-google-plus"></i></a>
                                <a href="#" class="external twitter" data-animate-hover="pulse"><i class="fa fa-twitter"></i></a>
                                <a href="#" class="email" data-animate-hover="pulse"><i class="fa fa-envelope"></i></a>
                            </p>
                        </div>

                        <div class="row">
                            <div class="col-md-3 col-sm-6">
                                <div class="box text-uppercase">
                                    <h3>You may also like these products</h3>
                                </div>
                            </div>

                            <div class="col-md-3 col-sm-6" ng-repeat="youmaylikeproudcts in youmaylikeproudctsData" ng-click="loadlikeProduct(youmaylikeproudcts.$id)" ng-hide="youmaylikeproudcts.$id===selectedProductData.$id">
                                <div class="product">
                                    <div class="image">
                                        <a href="#">
                                            <img  ng-src="{{youmaylikeproudcts.image}}" alt="" class="img-responsive image1">
                                        </a>
                                    </div>
                                    <div class="text">
                                        <h3>{{youmaylikeproudcts.name}}</h3>
                                        <p><i class="fa fa-inr" aria-hidden="true">{{youmaylikeproudcts.price}}</i></p>
                                    </div>
                                </div>
                                <!-- /.product -->
                            </div>
                          </div>

                        <div class="row">
                            <div class="col-md-3 col-sm-6">
                                <div class="box text-uppercase">
                                    <h3>Products viewed recently</h3>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="product">
                                    <div class="image">
                                        <a href="#">
                                            <img src="img/product3.jpg" alt="" class="img-responsive image1">
                                        </a>
                                    </div>
                                    <div class="text">
                                        <h3>Fur coat</h3>
                                        <p class="fa fa-inr price">143</p>
                                    </div>
                                </div>
                                <!-- /.product -->
                            </div>
                          </div>
                        </div>
                    <!-- /.col-md-9 -->
                    </div>
                </div>
            </div>
        </div>
    </div>
