          <div class="container">
              <div class="row">
                  <div class="col-md-12">
                      <ul class="breadcrumb" style="text-align:left;">
                          <li><a ng-click="goHomepage()">Home</a>
                          </li>
                          <li>All Products</li>
                      </ul>

                  </div>
              </div>
          </div>
<div id="content">
            <div class="container" ng-if="!!selectedProductData">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row" id="productMain">
                            <div class="col-sm-6">
                                <div id="mainImage">
                                    <img ng-src="{{selectedProductData.image}}"  alt="" class="img-responsive fixheightProd">
                                </div>

                                <div class="ribbon sale">
                                    <div class="theribbon">SALE</div>
                                    <div class="ribbon-background"></div>
                                </div>
                                <!-- /.ribbon -->

                                <div class="ribbon new">
                                    <div class="theribbon">NEW</div>
                                    <div class="ribbon-background"></div>
                                </div>
                                <!-- /.ribbon -->

                            </div>
                            <div class="col-sm-6">
                                <div class="box box_top">
                                    <form>
                                        <h4>{{selectedProductData.name}}</h4>
                                        <ul  ng-repeat = "product in selectedProductData.product_specification" >
                                          <li>{{product.name}} : {{product.value}}</li>
                                          </ul>
                                        <div class="price_line">Price :
                                        <div class="fa fa-inr"> {{selectedProductData.price}}</div></div>
                                        <div class="delivery" ng-if="isSelectLocation">Delivery :<div>{{getuserLocation.city}},{{getuserLocation.state}}-{{getuserLocation.postalCode}}</div><a ng-click="addPinCodeShow()">Change</a>
                                        </div>
                                        <div class="delivery" ng-if="isEnterPin">Delivery :<div><input type="number" ng-model="pincode" class="zipCode_input"></input>
                                                <button type="submit" class="btn btn-sm btn-template-primary" ng-click="addPinCode(pincode)" ><i class="fa fa-bolt" aria-hidden="true"></i>Change Address</button>
                                            </div>
                                        </div>
                                        <div class="sizes">
                                            <div ng-if="selectedProductData.size.length > 1">Available sizes :</div>
                                            <label class="size_align" for="size_s" ng-repeat="size in selectedProductData.size" ng-if="selectedProductData.size.length > 1">
                                                <a >{{size}}</a>
                                                <input type="radio" id="size" name="size" value="{{size}}" class="size-input">
                                            </label>
                                        </div>

                                        <!-- <button type="button" class="btn btn-lg btn-template-primary">Primary colour button</button> -->
                                          <div class="buttons_addbuy">
                                            <button type="submit" class="btn btn-lg btn-template-primary button_add" ng-click="addToCart(selectedProductData)"><i class="fa fa-shopping-cart"></i> Add to cart</button>
                                            <!-- <button type="submit" class="btn btn-template-main" ng-click="addToCart(selectedProductData)"><i class="fa fa-shopping-cart"></i> Add to cart</button> -->
                                            <button type="submit" class="btn btn-lg btn-template-primary button_big" ng-click="goForCheckout(selectedProductData)"><i class="fa fa-bolt" aria-hidden="true"></i> Buy Now</button>
                                            <button type="submit" class="btn btn-default" ng-if="isFavourite"  ng-click="deletefevorite(selectedProductData.$id)" style="color: red;"><i class="fa fa-heart-o"></i>
                                            </button>
                                            <button type="submit" class="btn btn-default" ng-if="!isFavourite" ng-click="setFavourite(selectedProductData)"  title="Add to wishlist"><i class="fa fa-heart-o"></i>
                                            </button>
                                          </div>


                                    </form>
                                </div>
                                    <div class="row" id="thumbs">
                                      <div class="col-xs-4" ng-repeat = "productimage in selectedProductData.images" >
                                            <a ng-href="{{productimage}}" class="thumb">
                                            <img ng-src="{{productimage}}" alt="" class="img-responsive fixedheightThumb">
                                        </a>
                                      </div>
                                    </div>

                            </div>

                        </div>


                        <div class="box" id="details">
                            <p>
                                <h4>Product details</h4>
                                <p>{{selectedProductData.description}} </p>
                                <ul ng-repeat = "product in selectedProductData.product_specification " >
                                  <li>{{product.name}} : {{product.value}}</li>
                                  </ul>
                        </div>

                        <div class="box social" id="product-social">
                            <h4>Show it to your friends</h4>
                            <p>
                                <a href="#" class="external facebook" data-animate-hover="pulse"><i class="fa fa-facebook"></i></a>
                                <a href="#" class="external gplus" data-animate-hover="pulse"><i class="fa fa-google-plus"></i></a>
                                <a href="#" class="external twitter" data-animate-hover="pulse"><i class="fa fa-twitter"></i></a>
                                <a href="#" class="email" data-animate-hover="pulse"><i class="fa fa-envelope"></i></a>
                            </p>
                        </div>

                        <div class="row">
                            <div class="col-md-3 col-sm-6">
                                <div class="box text-uppercase">
                                    <h3>You may also like these products</h3>
                                </div>
                            </div>

                            <div class="col-md-3 col-sm-6">
                                <div class="product">
                                    <div class="image">
                                        <a href="#">
                                            <img src="img/product2.jpg" alt="" class="img-responsive image1">
                                        </a>
                                    </div>
                                    <div class="text">
                                        <h3>Fur coat</h3>
                                        <p class="fa fa-inr price">143</p>

                                    </div>
                                </div>
                                <!-- /.product -->
                            </div>

                            <div class="col-md-3 col-sm-6">
                                <div class="product">
                                    <div class="image">
                                        <a href="#">
                                            <img src="img/product3.jpg" alt="" class="img-responsive image1">
                                        </a>
                                    </div>
                                    <div class="text">
                                        <h3>Fur coat</h3>
                                        <p class="fa fa-inr price">143</p>
                                    </div>
                                </div>
                                <!-- /.product -->
                            </div>

                            <div class="col-md-3 col-sm-6">
                                <div class="product">
                                    <div class="image">
                                        <a href="#">
                                            <img src="img/product1.jpg" alt="" class="img-responsive image1">
                                        </a>
                                    </div>
                                    <div class="text">
                                        <h3>Fur coat</h3>
                                        <p class="fa fa-inr price">143</p>
                                    </div>
                                </div>
                                <!-- /.product -->
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-3 col-sm-6">
                                <div class="box text-uppercase">
                                    <h3>Products viewed recently</h3>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="product">
                                    <div class="image">
                                        <a href="#">
                                            <img src="img/product3.jpg" alt="" class="img-responsive image1">
                                        </a>
                                    </div>
                                    <div class="text">
                                        <h3>Fur coat</h3>
                                        <p class="fa fa-inr price">143</p>
                                    </div>
                                </div>
                                <!-- /.product -->
                            </div>

                            <div class="col-md-3 col-sm-6">
                                <div class="product">
                                    <div class="image">
                                        <a href="#">
                                            <img src="img/product1.jpg" alt="" class="img-responsive image1">
                                        </a>
                                    </div>
                                    <div class="text">
                                        <h3>Fur coat</h3>
                                        <p class="fa fa-inr price">143</p>
                                    </div>
                                </div>
                                <!-- /.product -->
                            </div>


                            <div class="col-md-3 col-sm-6">
                                <div class="product">
                                    <div class="image">
                                        <a href="#">
                                            <img src="img/product2.jpg" alt="" class="img-responsive image1">
                                        </a>
                                    </div>
                                    <div class="text">
                                        <h3>Fur cosat</h3>
                                        <p class="fa fa-inr price">143</p>

                                    </div>
                                </div>
                                <!-- /.product -->
                            </div>

                        </div>

                    </div>
                    <!-- /.col-md-9 -->


                    <!-- *** LEFT COLUMN END *** -->

                    <!-- *** RIGHT COLUMN ***
		  _________________________________________________________ -->

                    <!-- <div class="col-sm-3">

                        <!-- *** MENUS AND FILTERS ***
 _________________________________________________________ -->
                        <!-- <div class="panel panel-default sidebar-menu">

                            <div class="panel-heading">
                                <h3 class="panel-title">Categories</h3>
                            </div>

                            <div class="panel-body">
                                <ul class="nav nav-pills nav-stacked category-menu">
                                    <li>
                                        <a href="shop-category.html">Men <span class="badge pull-right">42</span></a>
                                        <ul>
                                            <li><a href="shop-category.html">T-shirts</a>
                                            </li>
                                            <li><a href="shop-category.html">Shirts</a>
                                            </li>
                                            <li><a href="shop-category.html">Pants</a>
                                            </li>
                                            <li><a href="shop-category.html">Accessories</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="active">
                                        <a href="shop-category.html">Ladies  <span class="badge pull-right">123</span></a>
                                        <ul>
                                            <li><a href="shop-category.html">T-shirts</a>
                                            </li>
                                            <li><a href="shop-category.html">Skirts</a>
                                            </li>
                                            <li><a href="shop-category.html">Pants</a>
                                            </li>
                                            <li><a href="shop-category.html">Accessories</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="shop-category.html">Kids  <span class="badge pull-right">11</span></a>
                                        <ul>
                                            <li><a href="shop-category.html">T-shirts</a>
                                            </li>
                                            <li><a href="shop-category.html">Skirts</a>
                                            </li>
                                            <li><a href="shop-category.html">Pants</a>
                                            </li>
                                            <li><a href="shop-category.html">Accessories</a>
                                            </li>
                                        </ul>
                                    </li>

                                </ul>

                            </div>
                        </div>

                        <div class="panel panel-default sidebar-menu">

                            <div class="panel-heading">
                                <h3 class="panel-title">Brands</h3>
                                <a class="btn btn-xs btn-danger pull-right" href="#"><i class="fa fa-times-circle"></i> <span class="hidden-sm">Clear</span></a>
                            </div>

                            <div class="panel-body">

                                <form>
                                    <div class="form-group">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox">Armani (10)
                                            </label>
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox">Versace (12)
                                            </label>
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox">Carlo Bruni (15)
                                            </label>
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox">Jack Honey (14)
                                            </label>
                                        </div>
                                    </div>

                                    <button class="btn btn-default btn-sm btn-template-main"><i class="fa fa-pencil"></i> Apply</button>

                                </form>

                            </div>
                        </div>

                        <div class="panel panel-default sidebar-menu">

                            <div class="panel-heading">
                                <h3 class="panel-title clearfix">Colours</h3>
                                <a class="btn btn-xs btn-danger pull-right" href="#"><i class="fa fa-times-circle"></i> <span class="hidden-sm">Clear</span></a>
                            </div>

                            <div class="panel-body">

                                <form>
                                    <div class="form-group">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox"> <span class="colour white"></span> White (14)
                                            </label>
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox"> <span class="colour blue"></span> Blue (10)
                                            </label>
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox"> <span class="colour green"></span> Green (20)
                                            </label>
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox"> <span class="colour yellow"></span> Yellow (13)
                                            </label>
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox"> <span class="colour red"></span> Red (10)
                                            </label>
                                        </div>
                                    </div>

                                    <button class="btn btn-default btn-sm btn-template-main"><i class="fa fa-pencil"></i> Apply</button>

                                </form>

                            </div>
                        </div>  -->

                        <!-- *** MENUS AND FILTERS END *** -->

                        <!-- <div class="banner">
                            <a href="shop-category.html">
                                <img src="img/banner.jpg" alt="sales 2014" class="img-responsive">
                            </a>
                        </div> -->
                        <!-- /.banner -->
                    </div>
                    <!-- /.col-md-3 -->

                    <!-- *** RIGHT COLUMN END *** -->

                </div>
                <!-- /.row -->

            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->
    </div>
    <!-- /
</body>

</html>
