  <div class="modal-content" ng-controller="signInCtrl">
                    <div class="modal-header">
                          <button type="button" class="close" ng-click="close()"data-dismiss="modal" aria-hidden="true">×</button>
                          <h4 class="modal-title" id="Login">Customer login</h4>
                    </div>
                    <div class="modal-body">
                        <form >
                              <div class="form-group">
                                  <input type="text" class="form-control" ng-model="user.email" id="email_modal" placeholder="email">
                              </div>
                            <div class="form-group">
                                  <input type="password" class="form-control"  ng-model="user.password" id="password_modal" placeholder="password">
                            </div>
                            <p class="text-center">
                                <button type="submit" class="btn btn-template-main" ng-click= "login(user)"><i class="fa fa-sign-in"></i> Log in</button>
                            </p>
                        </form>
                        <p class="text-center text-muted">Not registered yet?</p>
                        <div>
                            <a class="btn btn-social btn-facebook sign_fb signup_fb" ng-click="loginWithFacebook()">
                              <span class="fa fa-facebook"></span> Sign in with Facebook
                            </a>
                            <a class="btn btn-social btn-google sign_google signup_google" ng-click="loginWithGoogle()">
                                <span class="fa fa-google"></span> Sign in with Google
                            </a>
                        </div>
                        <p class="text-center text-muted"><a ng-click="goSignup()" ><strong>Register now</strong></a>! It is easy and done in 1&nbsp;minute and gives you access to special discounts and much more!</p>
                    </div>
  </div>
