<div id="heading-breadcrumbs">
   <div class="container">
      <div class="row">
         <div class="col-md-7">
            <h1>Checkout - Address</h1>
         </div>
         <div class="col-md-5">
            <ul class="breadcrumb">
               <li><a href="index.html">Home</a>
               </li>
               <li>Checkout - Address</li>
            </ul>
         </div>
      </div>
   </div>
</div>
<div id="content" ng-init="userAddress()">
   <div class="container">
      <div class="row">
         <div class="col-md-9 clearfix" id="checkout">
            <div class="box">
               <form method="post">
                  <ul class="nav nav-pills nav-justified">
                     <li><a ng-click="showAddress()"><i class="fa fa-map-marker"></i><br>Address</a>
                     </li>

                     <li><a ng-click="showorder()"><i class="fa fa-eye"></i><br>Order Review</a>
                     </li>
                  </ul>
                  <div class="content" ng-if="isAddress" ng-hide="isOrder">
                     <button type="button" class="btn btn-lg btn-primary btn_address" ng-click="showDiv(false)">Add New Address</button>
                     <div ng-if="isDivShow">
                        <div class="row">
                           <div class="col-sm-6">
                              <div class="form-group input-group">
                                 <label for="city">city</label>
                                 <input  ng-model="addressObj.city"  class="form-control" type="text" name="city" required>
                              </div>
                           </div>
                           <div class="col-sm-6">
                              <div class="form-group">
                                 <label for="lastname">Locality,area or street*</label>
                                 <input ng-model="addressObj.area" type="text"  class="form-control" name="Locality" required>
                              </div>
                           </div>
                        </div>
                        <!-- /.row -->
                        <div class="row">
                           <div class="col-sm-6">
                              <div class="form-group">
                                 <label for="Street">Flate no.,Building name*</label>
                                 <input  ng-model="addressObj.building" type="text" class="form-control" name="building" required>
                              </div>
                           </div>
                           <div class="col-sm-6">
                              <div class="form-group">
                                 <label for="name">Name</label>
                                 <input  ng-model="addressObj.name" type="text" class="form-control" name="name" required>
                              </div>
                           </div>
                        </div>
                        <!-- /.row -->
                        <div class="row">
                           <div class="col-sm-6 col-md-3">
                              <div class="form-group">
                                 <label for="State">State</label>
                                 <input  ng-model="addressObj.state" type="text" class="form-control" name="state" required>
                              </div>
                           </div>
                           <div class="col-sm-6 col-md-3">
                              <div class="form-group">
                                 <label for="Pincode">Pincode*</label>
                                 <input  ng-model="addressObj.pincode" type="number" class="form-control" name="pincode" required>
                              </div>
                           </div>
                           <div class="col-sm-6 col-md-3">
                              <div class="form-group">
                                 <label for="MobileNo">Mobile No</label>
                                 <input ng-model="addressObj.number" type="number" class="form-control" name="number" required>
                              </div>
                           </div>
                           <div class="col-sm-6 col-md-3">
                              <div class="form-group">
                                 <label for="country">Altername Number</label>
                                 <input ng-model="addressObj.alternateNumber" type="number" class="form-control" name="number" required>
                              </div>
                           </div>
                        </div>
                        <!-- /.row -->
                        <button ng-click="saveAddress(addressObj)" ng-if="!edit" class="btn btn-lg btn-primary btn_address" >Add Address</button>
                        <button ng-click="editAddress(addressObj)" ng-if="edit===true" class="btn btn-lg btn-primary btn_address" >Edit Address</button>
                        <button ng-click="close()"  class="btn btn-lg btn-primary btn_address btn_close">close</button>
                     </div>
                  </div>
                  <div ng-hide="isDivShow" ng-if="isAddress">
                     <div class="row">
                        <div class="col-md-12">
                             <div class="card" ng-repeat="item in addresses">
                              <div class="col-md-4 address_bottomspace">
                              <div class="btn-group ">
                                <label class="btn">
                                  <input ng-if="$index == 0" class="addressRadioStyle" name="addr_group" ng-value="item.$id" type="radio" ng-click="selectAddress(item)" ng-init="selectAddress(item)" ng-checked="true" />
                                  <input ng-if="$index != 0" class="addressRadioStyle" name="addr_group" ng-value="item.$id" type="radio" ng-click="selectAddress(item)" />
                                  <!-- <input type="radio" name="addr_group" ng-value="item.$id" class="addressRadioStyle"  ng-click="selectAddress(item)"> -->
                                 <strong>{{item.name}}</strong></label><br/><br/>
                                 {{item.phoneNumber}} <br/>
                                 <span>{{item.building}}, {{item.area}}<br/></span>
                                 {{item.city}} {{item.state}}
                                 Pin : {{item.postalCode}}<br/>
                                 <span>Phone : {{item.postalCode}}</span>
                               </input>
                                 <div>
                                    <a ng-click="goEditAddress(item);showDiv(true)">Edit</a>
                                  </div>
                              </div>
                           </div>
                        </div>
                      </div>
                     </div>
                  </div>
                  <div class="content" ng-if="isOrder">
                      <div class="table-responsive"  >
                          <table class="table" >
                              <thead >
                                  <tr >
                                      <th colspan="2">Product</th>
                                      <th>Quantity</th>
                                      <th>Unit price</th>
                                      <th>Total</th>
                                  </tr>
                              </thead>
                              <tbody ng-if="!!selectedProId">
                                  <tr>
                                      <td>
                                          <a >
                                              <img ng-src="{{selectedCartData.item_image}}">
                                          </a>
                                      </td>
                                      <td class="cursor"><a ng-click="goProductpage(selectedCartData.$id)">{{selectedCartData.item_name}}</a>
                                      </td>
                                      <td><input type="number" ng-model="selectedCartData.item_qty"  ng-value="{{selectedCartData.item_qty}}" class="input-group" ng-change="updateQty(selectedCartData)" ng-model-options="{updateOn: 'blur'}" /></td>
                                      <td><i class="fa fa-inr" aria-hidden="true"></i>{{selectedCartData.item_price}}</i></td>
                                      <td><i class="fa fa-inr" aria-hidden="true"></i>{{selectedCartData.item_qty * selectedCartData.item_price}}</td>
                                  </tr>
                              </tbody>
                              <tbody ng-if="!selectedProId" ng-repeat="orderReviewData in selectedCartData">
                                  <tr>
                                      <td>
                                          <a >
                                              <img ng-src="{{orderReviewData.item_image}}">
                                          </a>
                                      </td>
                                      <td class="cursor"><a ng-click="goProductpage(orderReviewData.$id)">{{orderReviewData.item_name}}</a>
                                      </td>
                                      <td>{{orderReviewData.item_qty}}</td>
                                      <td><i class="fa fa-inr" aria-hidden="true">{{orderReviewData.item_price}}</i></td>
                                      <td>{{orderReviewData.item_qty * orderReviewData.item_price}}</td>
                                  </tr>
                              </tbody>
                              <!-- <tfoot ng-if="isAddress"> -->
                                  <tr>
                                      <th colspan="4">Total</th>
                                      <th><i class="fa fa-inr" aria-hidden="true">{{total_amount}}</i></th>
                                  </tr>
                              <!-- </tfoot> -->
                          </table>
                        </div>
                      </div>
                      <div class="box-footer" ng-if="isAddress">
                         <div class="pull-left">
                            <a ng-click="goCartPage()" class="btn btn-default"><i class="fa fa-chevron-left"></i>Back to Cart</a>
                         </div>
                         <div class="pull-right">
                            <button  type="button" ng-click="showorder()" class="btn btn-template-main" >Continue to Order Review <i class="fa fa-chevron-right"></i>
                            </button>
                         </div>
                      </div>
                      <div class="box-footer" ng-if="isOrder">
                         <div class="pull-left">
                            <a ng-click="goCartPage()" class="btn btn-default"><i class="fa fa-chevron-left"></i>Back to Cart</a>
                         </div>
                         <div class="pull-right">
                            <button  type="button" ng-click="goOrderSummary(selectedCartData)" class="btn btn-template-main" >Continue to Order summary <i class="fa fa-chevron-right"></i>
                            </button>
                         </div>
                      </div>
               </form>
            </div>
            <!-- /.box -->
         </div>
         <div class="col-md-3">
             <div class="box" id="order-summary">
                 <div class="box-header">
                     <h3>Order summary</h3>
                 </div>
                 <p class="text-muted">Shipping and additional costs are calculated based on the values you have entered.</p>

                 <div class="table-responsive">
                     <table class="table">
                         <tbody>
                             <tr>
                                 <td>Order subtotal</td>
                                 <th><i class="fa fa-inr" aria-hidden="true">{{total_amount}}</i></th>
                             </tr>
                             <tr>
                                 <td>Shipping and handling</td>
                                 <th><i class="fa fa-inr" aria-hidden="true">{{shippingRate}}</i></th>
                             </tr>
                             <!-- <tr>
                                 <td>Tax</td>
                                 <th>$0.00</th>
                             </tr> -->
                             <tr class="total">
                                 <td>Total</td>
                                 <th><i class="fa fa-inr" aria-hidden="true">{{finalTotal}}</i></th>
                             </tr>
                         </tbody>
                     </table>
                 </div>

             </div>


             <!-- <div class="box">
                 <div class="box-header">
                     <h4>Coupon code</h4>
                 </div>
                 <p class="text-muted">If you have a coupon code, please enter it in the box below.</p>
                 <form>
                     <div class="input-group">

                         <input type="text" class="form-control">

                         <span class="input-group-btn">

   <button class="btn btn-template-main" type="button"><i class="fa fa-gift"></i></button>

</span>
                     </div>
                     <! /input-group -->
                 </form>
             </div>
         </div>
      </div>

   </div>
   <!-- /.container -->
<!-- </div> -->
</div>
